:root {
    --primary: #bcbcbc;
    --light: #FFF;
    --grey: #e3e0e0;
}
.statusCir{
    color: #1ed12d;
    font-size: 15px;
}

.navsidebar{
    color: rgb(159, 159, 159) !important;
    transition: .3s ease all;
    font-size: 15px;
}
.navsidebar:hover{
    color: #fff !important;
    transition: .3s ease all;
}
.navcol{
    
    color: var(--primary);
    transition: .3s ease all;
}
.navsid{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

  .navbar-nav{
    z-index: 0;
  }
  
  .app {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
  }
  
  .app-content {
    flex-grow: 1;
    padding: 20px;
  }
 
.sidebar{
    width: 300px;

}
.navcol:hover{
    color: rgb(113, 113, 113) !important;
    transition: .3s ease all;
}
.btn-buscar {
    border: 2px solid #e3e0e0;
    ;
}

.btn-action:hover {
    background-color: rgb(155, 176, 214);
}

.icon {
    pointer-events: none;
}

body {

    color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;

}
.navbr{
    z-index: 1;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}


#sidebar-container .menu {
    width: 12.5rem;

}

a {
    text-decoration: none;
    text-align: center;
}



.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--light) !important;
}





